<div class="animated bounceInDown list-job">
  <h4>{{cust.jobNumber}}</h4>
  <h4>{{cust.lastName}}</h4>
  <p>{{cust.product}}</p>
  <p>{{cust.tech}}</p>
  <ul class="current-checkbox-grid">
      <li>
          <input type="checkbox" ng-model="cust.chckIn" class="check-box" name="checkedIn" value="checkedIn"  ng-click="saveJobData()"/>
          <label for="checkedIn">Checked In</label>
      </li>
      <li>
        <input type="checkbox" ng-model="cust.rCharged" class="check-box" name="rCharged" value="rCharged"  ng-click="saveJobData()"/>
        <label for="rCharged">Recharged</label>
      </li>
      <li>
        <input type="checkbox" ng-model="cust.finalTest" class="check-box" name="finalTest" value="finalTest"  ng-click="saveJobData()"/>
        <label for="finalTest">Final Test</label>
      </li>
      <li>
        <input type="checkbox" ng-model="cust.cmApproval" class="check-box" name="cmApproval" value="cmApproval"  ng-click="saveJobData()"/>
        <label for="cmApproval">CM Approval</label>
      </li>
  </ul>
  <br>
  <button type="button" name="button" class="archive-btn" ng-click="archiveJob($index, $event)" >ARCHIVE</button>
  <hr>
  <p id="time-spent">{{cust.time}}</p>
  <stopwatch cust="cust" ng-model="timeClock"></stopwatch>
</div>
