<div class="new-job">
  <h1 class="new-head">New Job</h1>

    <br>
    <input type="text" ng-model="jobNum" placeholder="Job #" class="text-box">
    <br/>
    <br/>
    <input type="text" ng-model="name" placeholder="Last Name" class="text-box">
    <br/>
    <br/>
    <input type="text" ng-model="prod" placeholder="Product" class="text-box">
    <br/>
    <br/>
    <input type="text" ng-model="tech" placeholder="Tech Assgn." class="text-box">
    <br/>
    <br/>
    <ul class="checkbox-grid">
        <li>
            <input type="checkbox" ng-model="chckIn" class="check-box" name="chckIn" value="chckIn" />
            <label for="chckIn">Checked In</label>
        </li>
        <li>
          <input type="checkbox" ng-model="rCharged" class="check-box" name="rCharged" value="rCharged" />
          <label for="rCharged">Recharged</label>
        </li>
        <li>
          <input type="checkbox" ng-model="finalTest" class="check-box" name="finalTest" value="finalTest" />
          <label for="finalTest">Final Test</label>
        </li>
        <li>
          <input type="checkbox" ng-model="cmApproval" class="check-box" name="cmApproval" value="cmApproval" />
          <label for="cmApproval">CM Approval</label>
        </li>
    </ul>
    <!-- <form>
        <input type="checkBox" ng-model="chckIn" class="check-box">Checked in
        <br>
        <input type="checkBox" ng-model="rCharged" class="check-box">Recharged
        <br>
        <input type="checkBox" ng-model="finalTest" class="check-box">Final Test
        <br>
        <input type="checkBox" ng-model="cmApproval" class="check-box">CM Approval
    </form> -->
    <br>
    <!-- <ul>
  <li><input type="checkbox" ng-check="custApproval" id="myCheck">Customer Approval</li>
  <li><input type="checkbox" ng-check="checkedIn" id="myCheck">Checked In</li>
</ul> -->

    <button type="button" name="submit" ng-click="addJob(jobNum, name, prod, chckIn, rCharged, time, tech, finalTest, cmApproval)" class="new-job-btn">Add New Job</button>
    <br>
    <br>
</div>
